// Colores
$color-black: #f5f5f5;
$color-dark-gray: #222222;
$color-primary: #229799;
$color-secondary: #48cfcb;

// Colores de textos
$text-light: #e0f2f1;
$text-medium: #b2dfdb;
$text-card: #e2edeb;

// UI elementos
$card-bg: #222222;
$card-shadow: #48cfcb;

// Tipografía
$font-family: "Segoe UI", Tahoma, Geneva, Verdana,  sans-serif;
