.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: $color-dark-gray;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(29, 205, 159, 0.5);
  transition: background 0.3s ease, color 0.3s ease;

  i {
    font-size: 18px;
    color: $color-black !important;
  }

  &:hover {
    background: $color-primary;

    i {
      color: $color-dark-gray !important;
    }
  }
}
